*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #081b29;
    color: #fff;
    position: relative;
    letter-spacing: 1px;
}
li{
    margin: 10px;
    list-style: disc;
}
@media screen and(max-width: 768px) {
    li{
        margin: 3.5px;
    }
    .as{
        margin: 3.5px;
        padding: 7.5px;
    }
    .fb{
        margin: 3.5px;
        font-size: 16px;
    }
    button{
        margin: 3.5px;
        padding: 5px;
        width: 20%;
        cursor: not-allowed;
        position: relative;
        left: 7px;
    }
}
.as{
    margin: 10px;
    padding: 20px;
}
.fb{
    position: relative;
    margin: 10px;
    font-size: 30px;
}
button{
    position: relative;
    margin: 10px;
    padding: 12px;
    width: 18vw;
    background: steelblue;
    color: #fff;
    font-size: 18px;
    cursor: not-allowed;
    border: none;
    border-radius: 10px;
    left: 20px;
    z-index: 2;
    top: 0px;
    
}
a{
    color: #fff;
    font-size: 20px;
}
i{
    color: #fff;
    font-size: 25px;
}
a:hover{
    color: steelblue;
}
.imgg{
    position: relative;
    left: 500px;
    top: -500px;
}
@media screen and (max-width: 768px){
    .imgg{
        position: relative;
        left: 170px;
        top: -165px;
    }
}
.fa-facebook{
    color: blue;
    font-size: 40px;
}
.fa-whatsapp{
    color: green;
    font-size: 40px;
}
.fa-envelope{
    color: brown;
    font-size: 40px;
}
