body{
    background: #ddd;
    margin: 0px;
    padding: 0px;
}
.cyber-intro {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    background: linear-gradient(to bottom, #eaf6ff, #ffffff);
    color: #333;
  }
  .title{
    font-size: 1.9rem;
    margin-bottom: 20px;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    padding: 2rem 1rem;
    letter-spacing: 1px;
    bottom: 18px;
    color: #222;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
  }
  .cyber-intro h2 {
    font-size: 1.8rem;
    color: #005792;
    margin-top: 40px;
  }
  .cyber-intro p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  .cyber-intro ul {
    padding-left: 20px;
    margin: 10px 0;
  }
  .cyber-intro li {
    margin-bottom: 10px;
    font-size: 1.05rem;
  }
  button{
    padding: 15px 23px;
    background: #005792;
    border-radius: 5px;
    transition: 0.4s ease;
    cursor: pointer;
    border: none;
    border-left: 4.5px solid darkred;
    font-weight: bolder;
  }
  button:hover{
    background: #1e90ff;
  }
  button a{
    text-decoration: none;
    color: white;
  }