body{
    font-family: sans-serif;
    font-size: 25px;
    background: #333;
    color: #fff;
}
header{
    font-size: 30px;
    text-decoration: underline;
}
button{
    padding: 15px 20px;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
button:hover{
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3;

}
input{
    border: none;
    width: 70%;
    height: 5vh;
    border-radius: 5px;
}
footer{
    position: relative;
    top: 360px;
    text-align: center;
}